body {

    background-color:azure
    
    
}

h1 {

 color: olive
}


.stilig{
    
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    border-style:outset;
    border-color: red;
    font-family: sans-serif;
    
        
    }
    
        .stilig:hover {
        background-color: white;
        border-color: white;
    }




.boks {
    
    width:300px;
    display: inline-block;
    text-align:center;
}

.PRUMP{
    
      background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    border-style:outset;
    border-color: whitesmoke;
    font-family: sans-serif;
    

}

.PRUMP:hover{
    
     background-color: white;
        border-color: white;
    
    
}


.BØSJ{
    
    background-color: #f940a3;
    color: white;
    text-decoration: none;
    padding: 15px 17px 15px 17px;
    border-radius: 8px;
    border-style:dashed;
    border-color: #f940a3;
    font-family: inherit;
    
    }

.BØSJ:hover{
    
     background-color: black;
        border-color: white;






































