
.logo{
    
    background-image: url(Overwatch_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1000px;
    height: 1000px;
    display: block;
}

.KNAPP{
    position: absolute;
    top: 400px;
    right: 299px;
    
        
    background-color: white;
    color: white;
    text-decoration: none;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    border-color: white;
    font-family: fantasy;
    
}

.KNAPP:hover{
    
     background-color: red;
        border-color: white;
    
}


